<div id="div_{{ field.auto_id }}"
     class="px-0 border border-left-0
      {% if result.admin_view.horizontal_form_layout %} row mb-2 mb-sm-0 {% else %} col {% endif %}
      {% if field.wrapper_class %} {{ field.wrapper_class }}{% endif %}
      {% if field.css_classes %} {{ field.css_classes }}{% endif %}
      {% if layout_field.wrapper_class %} {{ layout_field.wrapper_class }}{% endif %}
      {% if layout_field.css_classes %} {{ layout_field.css_classes }}{% endif %}">
  <label class="{{ label_class }}">{{ result.label|safe }}</label>
  <div class="{{ field_class }}">
    <div class="form-control-plaintext p-0 {{ input_class }}">{{ result.val }}</div>
  </div>
</div>