{% load i18n %}
{% load xadmin_tags %}
<div class="form-actions d-flex flex-column flex-md-row bg-light shadow rounded border p-2 my-md-1">
  {% if show_save %}
  <button type="submit" class="btn btn-success d-none d-md-block m-1" name="_save" data-loading-text="{% trans 'Saving..' %}" {{ onclick_attrib }}>
    <i class="fa fa-save"></i> {% trans 'Save' %}
  </button>
  {% endif %}

  <div class="d-flex flex-row d-md-none">
    {% if show_save %}
    <div class="btn-group flex-fill m-1" role="group" aria-label="Show buttons">
      <button type="submit" class="btn btn-block btn-success" name="_save" data-loading-text="{% trans 'Saving..' %}" {{ onclick_attrib }}>
          <i class="fa fa-save"></i> {% trans 'Save' %}
      </button>
      <button type="button" class="btn btn-success more" data-toggle="collapse" data-target=".nav-collapse.more-btns">
          <i class="fa fa-ellipsis-v"></i>
      </button>
    </div>
    {% endif %}

    {% if show_delete_link %}
      <a href="{{ delete_url }}" class="btn btn-danger deletelink m-1 px-4"><i class="fa fa-trash-alt"></i></a>
    {% endif %}
  </div>

  <div class="nav-collapse more-btns collapse d-md-inline-block">
    <div class="d-flex flex-column flex-md-row">
      {% if show_save_as_new %}
        <button type="submit" class="btn btn-primary m-1" name="_saveasnew" {{ onclick_attrib }}>
          {% trans 'Save as new' %}
        </button>
      {%endif%}
      {% if show_save_and_add_another %}
        <button type="submit" class="btn btn-primary m-1" name="_addanother" {{ onclick_attrib }}>
        {% trans 'Save and add another' %}
        </button>
      {% endif %}
      {% if show_save_and_continue %}
        <button type="submit" class="btn btn-secondary m-1" name="_continue" {{ onclick_attrib }}>
        {% trans 'Save and continue editing' %}
        </button>
      {% endif %}
      {% view_block 'submit_more_btns' %}
    </div>
  </div>

  {% if show_delete_link %}
    <a href="{{ delete_url }}" class="btn btn-danger deletelink float-right d-none d-md-inline-block m-1 ml-auto" tabindex="-1" role="button">
      <i class="fa fa-trash-alt"></i> {% trans "Delete" %}
    </a>
  {% endif %}

  {% view_block 'submit_line' %}
</div>